.vs/
Build/
bin/
Debug/
Exclude/
Gene/Binaries/
Gene/Dependencies/FreeType/Output/
Gene/Release
Gene.Sandbox/Binaries
*.vcxproj.filters
*.vcxproj.user

# Vim Temporary files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
