.vs/

# Binary/Output folders
Build/
bin/
./Debug/
Exclude/
Gene/Binaries/
Dependencies/FreeType/Output/
Gene/Release
Gene.Sandbox/Binaries
CMakeFiles/
packages/

# Visual Studio user files
*.vcxproj.filters
*.vcxproj.user

# Qt Creator user files
CMakeLists.txt.user

# Vim Temporary files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
